.social-links{

    display:flex;

    justify-content:center;

    gap:18px;

    margin-top:45px;
}

.social-links a,
.social-links button{

    width:52px;
    height:52px;

    display:flex;

    justify-content:center;
    align-items:center;

    border-radius:50%;

    text-decoration:none;

    color:var(--text-primary);

    border:1px solid var(--border);

    background:var(--glass);

    backdrop-filter:blur(12px);

    cursor:pointer;

    transition:.3s;
}

.social-links a svg,
.social-links button svg{

    font-size:1.35rem;
}

.social-links a:hover,
.social-links button:hover{

    color:var(--primary);

    border-color:var(--primary);

    transform:translateY(-4px);

    box-shadow:0 10px 25px var(--shadow);
}
