.hero {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    padding: 0 20px;

    max-width: 900px;
    margin: auto;
}

.hero-tag {

    color: var(--primary);

    margin-bottom: 20px;

    font-size: .95rem;

    letter-spacing: 1px;
}

.hero h1 {

    font-size: clamp(3rem, 7vw, 5.5rem);

    line-height: 1.1;

    margin-bottom: 20px;
}

.hero h1 span {

    color: var(--primary);
}

.hero h2 {

    font-size: 2rem;

    color: var(--text-secondary);

    margin-bottom: 30px;
}

.hero-description {

    max-width: 700px;

    color: var(--text-secondary);

    font-size: 1.15rem;

    line-height: 1.8;
}

.hero-buttons {

    margin-top: 50px;

    display: flex;

    gap: 20px;
}

.btn-primary,
.btn-secondary {

    padding: 16px 34px;

    border-radius: var(--radius);

    cursor: pointer;

    transition: var(--transition);

    font-size: 1rem;
}

.btn-primary {

    background: var(--primary);

    color: white;

    border: none;
}

.btn-primary:hover {

    background: var(--primary-hover);

    transform: translateY(-3px);
}

.btn-secondary {

    background: transparent;

    border: 1px solid var(--border);

    color: white;
}

.btn-secondary:hover {

    border-color: var(--primary);

    color: var(--primary);
}

/* ============================= */
/* TABLETS */
/* ============================= */

@media (max-width: 992px) {

    .hero h1 {
        font-size: 4rem;
    }

    .hero h2 {
        font-size: 1.6rem;
    }

    .hero-description {
        font-size: 1rem;
    }

}

/* ============================= */
/* CELULARES */
/* ============================= */

@media (max-width: 768px) {

    .hero {

        padding: 0 25px;
    }

    .hero h1 {

        font-size: 3rem;
    }

    .hero h2 {

        font-size: 1.3rem;
    }

    .hero-buttons {

        width: 100%;

        flex-direction: column;

        align-items: center;
    }

    .btn-primary,
    .btn-secondary {

        width: 100%;

        max-width: 320px;
    }

}