.navbar {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;

    z-index: 1000;

    transition: .35s ease;
}

.navbar-container {

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 8%;

    background: rgba(7, 11, 20, .75);
    backdrop-filter: blur(16px);

    border-bottom: 1px solid var(--border);

    transition: .35s ease;
}

.navbar.scrolled .navbar-container {

    max-width: 1180px;

    margin: auto;

    padding: 12px 32px;

    background: rgba(16, 22, 31, .75);
    backdrop-filter: blur(18px);

    border: 1px solid rgba(255, 255, 255, .08);
    border-radius: 18px;

    box-shadow: 0 12px 40px rgba(0, 0, 0, .25);
}

.navbar.scrolled {

    padding: 12px 0;
}

/* ============================= */
/* LOGO */
/* ============================= */

.logo {
    display: flex;
    align-items: center;
    gap: 12px;

    transition: .35s;
}

.navbar.scrolled .logo {

    transform: scale(.94);
}

.logo img {
    width: 42px;
    height: 42px;
    object-fit: contain;
}

.logo span {
    font-size: 1.35rem;
    font-weight: 700;
}

/* ============================= */
/* LINKS */
/* ============================= */

.nav-links {

    display: flex;
    gap: 40px;
}

.nav-links a {

    color: var(--text-secondary);

    text-decoration: none;

    transition: .3s;

}

.navbar.scrolled .nav-links a {

    font-size: .95rem;
}

.nav-links a:hover {

    color: var(--text-primary);
}

/* ============================= */
/* BOTÓN HAMBURGUESA */
/* ============================= */

.menu-button {

    display: none;

    background: transparent;

    border: none;

    color: white;

    font-size: 2rem;

    cursor: pointer;
}

/* ============================= */
/* RESPONSIVE */
/* ============================= */

@media (max-width:768px){

    .menu-button{

        display:block;
    }

    .nav-links{

        position: fixed;

        top:80px;
        right:-100%;

        width:280px;

        height:calc(100vh - 80px);

        background:#0F172A;

        display:flex;

        flex-direction:column;

        align-items:center;

        justify-content:flex-start;

        gap:35px;

        padding-top:50px;

        transition:.35s ease;
    }

    .nav-links.active{

        right:0;
    }

}