/* ============================= */
/* RESET                         */
/* ============================= */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {

    position: relative;

    font-family: Inter, Arial, Helvetica, sans-serif;

    color: var(--text-primary);

    overflow-x: hidden;

    background:
        radial-gradient(circle at top,
            rgba(45, 212, 134, 0.315),
            transparent 45%),
        radial-gradient(circle at bottom,
            rgba(45, 212, 191, 0.08),
            transparent 55%),
        var(--background);

}

body::after {

    content: "";

    position: fixed;

    inset: 0;

    z-index: 1;

    pointer-events: none;

    opacity: .035;

    mix-blend-mode: overlay;

    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='n'><feTurbulence type='fractalNoise' baseFrequency='0.85' numOctaves='2' stitchTiles='stitch'/></filter><rect width='100%25' height='100%25' filter='url(%23n)'/></svg>");
}
/* ============================= */
/* VARIABLES                     */
/* ============================= */

:root {

    --background: #0B0F14;
    --surface: #10161F;

    --primary: #2DD4BF;
    --primary-hover: #14B8A6;
    --primary-light: #5EEAD4;

    --text-primary: #F8FAFC;
    --text-secondary: #94A3B8;

    --border: rgba(255,255,255,.08);

    --shadow: rgba(45,212,191,.18);
    --glass: rgba(255,255,255,.04);

}