/* ============================= */
/* RESET                         */
/* ============================= */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {

    font-family: Inter, Arial, Helvetica, sans-serif;

    color: var(--text-primary);

    overflow-x: hidden;

    background:
        radial-gradient(circle at top,
            rgba(45, 212, 134, 0.315),
            transparent 45%),
        var(--background);

}
/* ============================= */
/* VARIABLES                     */
/* ============================= */

:root {

    --background: #0B0F14;
    --surface: #10161F;

    --primary: #2DD4BF;
    --primary-hover: #14B8A6;
    --primary-light: #5EEAD4;

    --text-primary: #F8FAFC;
    --text-secondary: #94A3B8;

    --border: rgba(255,255,255,.08);

    --shadow: rgba(45,212,191,.18);
    --glass: rgba(255,255,255,.04);

}